<h1 >Recent Subscriptions</h1>
<div *ngIf="subs.length > 0">
  <ol >
    <li *ngFor="let sub of subs">
        UserID: {{ sub.userId }} <br> 
        Company: {{ sub.company }} <br> 
        Purchase Name: {{ sub.subscriptionName }} <br> 
        Monthly Cost: {{ sub.subscriptionMonthCost }} <br> 
        Initial Subscription Date: {{ sub.subscriptionDate }} <br> 
        Next Due Date: {{ sub.subscriptionDueDate }} <br> 
        Notifications: {{ sub.notification }} <br> 
    </li>
  </ol>
</div>
<div class="container" style="padding-top:40px;">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card mx-4">
                <div class="card-body p-4">
                    
                    <form [formGroup]="createSubsForm" (ngSubmit)="createSubs()">
                        <h1 >Add Subscription</h1>


                        <div class="input-group mb-3"> UserID:
                            <input type="text" class="form-control" placeholder="Insert UserID" formControlName="userId"
                                required [ngClass]="{ 'is-invalid': submitted && f.userId.errors}">
                                <div *ngIf="submitted && f.userId.errors" class="invalid-feedback">
                                    <div *ngIf="f.userId.errors.required">UserID is required</div>
                                </div>
                        </div>
                        <div class="input-group mb-3"> Company:
                            <input type="text" class="form-control" placeholder="Insert Company Name" formControlName="company"
                                required [ngClass]="{ 'is-invalid': submitted && f.company.errors}">
                                <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                                    <div *ngIf="f.company.errors.required">Company Name is required</div>
                                </div>
                        </div>
                        <div class="input-group mb-4"> Purchase Name:
                            <input type="text" class="form-control" placeholder="Insert Subscription Name" formControlName="subscriptionName"
                                required [ngClass]="{ 'is-invalid': submitted && f.subscriptionName.errors}">
                                <div *ngIf="submitted && f.subscriptionName.errors" class="invalid-feedback">
                                    <div *ngIf="f.subscriptionName.errors.required">Subscription Name is required</div>
                                </div>
                        </div>
                        <div class="input-group mb-4"> Monthly Cost:
                            <input type="text" class="form-control" placeholder="Insert Monthly Cost" formControlName="subscriptionMonthCost"
                                required [ngClass]="{ 'is-invalid': submitted && f.subscriptionMonthCost.errors}">
                                <div *ngIf="submitted && f.subscriptionMonthCost.errors" class="invalid-feedback">
                                    <div *ngIf="f.subscriptionMonthCost.errors.required">Monthly Cost is required</div>
                                </div>
                        </div>
                        <div class="input-group mb-4"> Initial Date:
                            <input type="datetime-local" class="form-control" placeholder="Insert Initial Date" formControlName="subscriptionDate"
                                required [ngClass]="{ 'is-invalid': submitted && f.subscriptionDate.errors}">
                                <div *ngIf="submitted && f.subscriptionDate.errors" class="invalid-feedback">
                                    <div *ngIf="f.subscriptionDate.errors.required">Initial Subscription Date is required</div>
                                </div>
                        </div>
                        <div class="input-group mb-4"> Next Due Date:
                            <input type="datetime-local" class="form-control" placeholder="Insert Subscription Name" formControlName="subscriptionDueDate"
                                required [ngClass]="{ 'is-invalid': submitted && f.subscriptionDueDate.errors}">
                                <div *ngIf="submitted && f.subscriptionDueDate.errors" class="invalid-feedback">
                                    <div *ngIf="f.subscriptionDueDate.errors.required">Subscription Due Date is required</div>
                                </div>
                        </div>
                        <div class="input-group mb-4"> Notifications:
                            <input type="checkbox" class="form-control" placeholder="Notification" formControlName="notification">
                        </div>
                        <button type="submit" class="btn btn-block btn-success" >
                            Submit</button>
                    </form>
                    <div *ngIf="error" class="error">
                        {{ error }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>