<div class="container" style="padding-top:60px;">
    <div>
      <div>
        <div>
          <div>
            <div>
              
             
              <form name="form" #f="ngForm"  (ngSubmit)="EnterBillId(f)"  >
                <h1 style="text-align:center">Enter B ID</h1>
  
                <input type="text" name="id" ngModel [(ngModel)]="SelectBillService.formData.id"  class="form-control sty1" style="width: 70%; float: left;" placeholder="Bill Id" required>
                <button type="submit" class="btn btn-primary px-4" style="float:right">Enter</button>
                <br>
                <div>
                  <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success" align="left">
                    {{errorMessage}}
                  </p>
                </div>
                <!-- <div *ngIf="bills.length > 0"> -->

              <!-- </div> -->
                <!-- <div *ngIf="bills.length === 0">
                  no bills found
                </div> -->

                
  
              </form>

              <form name="form" #f="ngForm"  (ngSubmit)="SubmitPay(f)"  >
                <h1 style="text-align:center">Enter B ID</h1>
  
                <input type="number" name="id" ngModel [(ngModel)]="userPay"  class="form-control sty1" style="width: 70%; float: left;" placeholder="Bill Id" required>
                <button type="submit" class="btn btn-primary px-4" style="float:right">Enter</button>
                <br>
                <div>
                  <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success" align="left">
                    {{errorMessage}}
                  </p>
                </div>  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>