<div class="container" style="padding-top:60px;">
  <div class="row">
   
          <div class="card-body p-4">


            <form name="form" [formGroup]="CreateUserForm"  (ngSubmit)="Login()">
              <h1 style="text-align:center">Login ID</h1>

             Id:  <input type="text" name="id" ngModel [(ngModel)]="LoginService.formData.id" class="form-control sty1"
             formControlName="id"  placeholder="ID" required [ngClass]="{ 'is-invalid': submitted && f.id.errors}">
                <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
                    <div *ngIf="f.id.errors.required">Id is required</div>
                </div>
             Phone: <input type="text" name="phoneNumber" ngModel [(ngModel)]="LoginService.formData.phoneNumber"
             formControlName="phoneNumber" class="form-control sty1" placeholder="Phone Number" required  [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors}">
                <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.phoneNumber.errors.required">phone Number is required</div>
                </div>




              <br>

              <button type="submit" class="btn  btn-primary">Login</button>
              <div>
                  <div *ngIf="error">  {{error}} </div> 
                
              </div>
              <br>

              name: {{ this.user.name }} <br>
              password: {{ this.user.password }} <br>
              email: {{ this.user.email }} <br>
              phoneNumber: {{ this.user.phoneNumber }} <br>
              address: {{ this.user.address }}<br>


              <!-- <button (click)="getUsersById(f)">Refresh</button><br><br /> -->


            </form>
        
    </div>
  </div>
</div>