<div class="container" style="padding-top:60px;">
  <div class="row">
   
          <div class="card-body p-4">



            <form name="form" #f="ngForm" (ngSubmit)="Login(f)">
              <h1 style="text-align:center">Login ID</h1>

              <input type="text" name="id" ngModel [(ngModel)]="LoginService.formData.id" class="form-control sty1"
                placeholder="ID" required>
              <input type="text" name="phoneNumber" ngModel [(ngModel)]="LoginService.formData.phoneNumber"
                class="form-control sty1" placeholder="Phone Number" required>




              <br>

              <button type="submit" class="btn btn-primary px-4">Login</button>
              <div>
                  <div *ngIf="error">  {{errorMessage}} </div> 
                
              </div>
              <br>

              name: {{ this.user.name }} <br>
              password: {{ this.user.password }} <br>
              email: {{ this.user.email }} <br>
              phoneNumber: {{ this.user.phoneNumber }} <br>
              address: {{ this.user.address }}<br>


              <!-- <button (click)="getUsersById(f)">Refresh</button><br><br /> -->


            </form>
          </div>
        </div>
      </div>

