<h2>Update User</h2>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="id" [value]="service.formData.id">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <em class="fas fa-user-circle" [class.green-icon]="name.valid" [class.red-icon]="name.invalid && name.touched"></em>
          </div>
        </div>
        <input name="name" #name="ngModel" [(ngModel)]="service.formData.name" class="form-control"
          placeholder="name" required>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <em class="fas fa-phone"  [class.green-icon]="phoneNumber.valid" [class.red-icon]="phoneNumber.invalid && phoneNumber.touched"></em>
          </div>
        </div>
        <input name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="service.formData.phoneNumber" 
        class="form-control" placeholder="10 Digit Number" required maxlength="10" minlength="10">
      </div>
    </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <em class="fas fa-home"  [class.green-icon]="address.valid" [class.red-icon]="address.invalid && address.touched"></em>
            </div>
          </div>
          <input name="address" #address="ngModel" [(ngModel)]="service.formData.address" class="form-control"
            placeholder="address" required  minlength="5">
        </div>
      </div>
    
    
    <div class="form-group">
      <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="form.invalid"><em class="fas fa-database"></em> Update</button>
    </div>
  </form>