<h1>Bill List</h1>
<div *ngIf="bills.length > 0">
  <ol>
    <li *ngFor="let bill of bills">
        UserID: {{ bill.userId }} <br> 
        Item: {{ bill.purchaseName }} <br> 
        Quantity: {{ bill.quantity }} <br>
        Cost: ${{ bill.cost }} <br>
        BillDate: {{ bill.billDate }} <br>
        Location: {{ bill.location }} <br>
    </li>
  </ol>
</div>
<div *ngIf="bills.length === 0">
  no bills found
</div>
<button (click)="getBills()">Refresh Bills</button><br><br />
<h1>Create New Bill: </h1>
<form [formGroup]="createBillsForm" (ngSubmit)="createBills()">
    <label>
      UserID:
      <input type="number" formControlName="userId" required> <br>
      Purchase Name:
      <input type="text" formControlName="purchaseName" required> <br>
      Quantity:
      <input type="number" formControlName="quantity" required> <br>
      Cost:
      <input type="number" formControlName="cost" required> <br>
      Date:
      <input type="datetime-local" formControlName="billDate" required> <br>
      Location:
      <input type="text" formControlName="location" required>
    </label>
  
    <button type="submit" [disabled]="!createBillsForm.valid">Submit</button>
  </form>
  
  <div *ngIf="error" class="error">
    {{ error }}
  </div>
