<div class="container" style="padding-top:60px;">
    <div>
      <div>
        <div>
          <div>
            <div>
              
             
              <form name="UserSelects" #f="ngForm"  (ngSubmit)="GetbILLSforUser(f)"  >
                <h1 style="text-align:center">Enter Bill ID</h1>
  
                <input type="text" name="id" ngModel [(ngModel)]="PayBillService.formData.id"  class="form-control sty1" style="width: 70%; float: left;" placeholder="User Id" required>
                <button type="submit" class="btn btn-primary px-4" style="float:right">Enter</button>
                <br>
                <div>
                  <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success" align="left">
                    {{errorMessage}}
                  </p>
                </div>
                <div *ngIf="bills.length > 0">
                  <ul style="list-style-type: none;">
                    <li *ngFor="let bill of bills" style="float: left;">
                    <div style="margin-left: 3%;">
                    <br>
                    Bill Id {{this.bill.id}} <br>
                    purchaseName: {{ this.bill.purchaseName }}  <br>
                    quantity: {{ this.bill.quantity }}  <br>
                    cost: ${{ this.bill.cost }} <br> 
                    location {{this.bill.location}} <br>
                    <br>
                  </div>
                    </li>
                  </ul>
                  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
                  <app-select-bill></app-select-bill>
                </div>

                <div *ngIf="bills.length === 0">
                  no bills found
                </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>