<div class="container" style="padding-top:60px;">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              
             
              <form name="form" #f="ngForm"  (ngSubmit)="SubmitPay(f)"  >
                <h1 style="text-align:center">Enter User ID</h1>
  
                <input type="text" name="id" ngModel [(ngModel)]="PayBillService.formData.id"  class="form-control sty1" placeholder="ID" required>
  
  
                <div>
                  <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success" align="left">
                    {{errorMessage}}
                  </p>
                </div>
  
             
                  
                purchaseName: {{ this.bill.purchaseName }}  <br>
                quantity: {{ this.bill.quantity }}  <br>
                cost: {{ this.bill.cost }} <br> 
                billDate: {{ this.bill.billDate }}<br>
                location {{this.bill.location}} <br>
                   
                   
                 <!-- <button (click)="getUsersById(f)">Refresh</button><br><br /> -->
  
                <button type="submit" class="btn btn-primary px-4">Login</button>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>