<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" routerLink="/Page" >AdminPage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    
    <ul class="navbar-nav flex-grow-1">
       
        <li class="nav-item">
            <a routerLink="/Bills"> Bills</a>
        </li>
        <li class="nav-item">
            <a routerLink="/Subs"> Subs</a>
        </li>
        <li class="nav-item">
            <a routerLink="/Membership" >Membership</a>
        </li>
        <li class="nav-item">
            <a routerLink="/PayBills">Pay Bills</a>
        </li>
        <li>
            <a routerLink="/Budgets">Budgets</a>
        </li>
        <li class="nav-item">
            <a routerLink="/Webcharts" >Cost Analysis</a>
        </li>
        <li class="nav-item">
            <a routerLink="/Notifications">Notifications</a>
        </li>
        <li class="nav-item">
            <a routerLink="/">Register</a>
        </li>
        <li class="nav-item">
            <a routerLink="/Login" >Login</a>
        </li>
        <li class="nav-item ">
            <a routerLink="/">Logout</a>
        </li>
       
    </ul>
   
</div>
</div>
</nav>

