<nav>

    <a routerLink="/" style="margin-left:1em; float: left;">Users</a>
    <a routerLink="/Bills" style="margin-left:1em; float: left;"> Bills</a>
    <a routerLink="/Subs" style="margin-left:1em; float: left;"> Subs</a>
    <a routerLink="/Login" style="margin-left:1em; right: 0; float: right;">Login</a>
    <a routerLink="/Notifications" style=" margin-left:1em; right: 1em; float: right; ">Notifications</a>
    <a routerLink="/Page" style="margin-left:1em; float: left;">Page</a>
    <a routerLink="/PayBill" style="margin-left:1em; float: left;">PayBill</a>
</nav>